/* Ajustes para telas menores (mobile) */
@media (max-width: 600px) {
  body {
    width: auto;
  }
  header {
    flex-direction: row;
  }

  .pesquisa {
    margin-top: 10px;
  }

  h1 {
    margin: 0%;
    padding: 0%;
    font-size: 18px;
  }
  .amd {
    left: 70%;
    margin: 0;
    padding: 0;
    position: absolute;
    text-decoration: underline;
  }
  .horas {
    left: 110%;
    position: relative;
  }
  .data {
    position: static;
    font-size: 16px;
  }
  
  .close {
  left: 26px;
  bottom: 260px;
}
  .data * {
    padding: 0%;
    margin: 0%;
  }
  .pesquisa input[type="search"] {
    width: 100%;
    max-width: 250px;
  }

  /* Menu mobile */
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
  }

  .menu span {
    margin: 10px 0;
    left: 10px;
  }

  .menu span a {
    font-size: 1em;
  }

  /* Ajustes no conteúdo principal */
  .container {
    padding: 15px;
  }

  /* .sol, .terra, .lua {
    width: 100px;
    height: 100px;
  } */

  .carregar h1 {
    font-size: 1.5em;
  }
}
